<%= stylesheet_link_tag "style_countries" %>
<%= javascript_include_tag "countries" %>


<section id="question">
  <article class="preg">
    Japan
  </article>

  <article class="preg">
    Usa
  </article>

  <article class="preg">
    France
  </article>

  <article class="preg">
    England
  </article>

  <article class="preg">
    China
  </article>

  <article class="preg">
    Germany
  </article>



  <div id="answer">
    <%= image_tag "level1/china.png", :class => "answer" , :alt => "china"%>
    <%= image_tag "level1/germany.png", :class => "answer" , :alt => "germany"%>
    <%= image_tag "level1/england.png", :class => "answer", :alt => "england" %>
    <%= image_tag "level1/japan.png", :class => "answer" , :alt => "japan"%>
    <%= image_tag "level1/usa.png", :class => "answer" , :alt => "usa"%>
    <%= image_tag "level1/france.png", :class => "answer" , :alt => "france"%>

  </div>

</section>
<div id="resultados">

</div>


