<%= stylesheet_link_tag "style_countries" %>
<%= javascript_include_tag "countries" %>
<section id="question">

<div class="row-fluid">


      <div class="span2">
      <article class="preg">
        Japan
      </article>
      </div>

      <div class="span2">
      <article class="preg">
        Usa
      </article>
      </div>

        <div class="span2">
        <article class="preg">
        France
      </article>
        </div>

      <div class="span2">
      <article class="preg">
        England
      </article>
      </div>

      <div class="span2">
      <article class="preg">
        China
      </article>
      </div>

          <div class="span2">
          <article class="preg">
        Germany
      </article>
          </div>


</div>



<div class="row-fluid">

      <div id="answer">
            <div class="span2">
            <%= image_tag "level1/china.png", :class => "answer" , :alt => "china"%>
            </div>
            <div class="span2">
              <%= image_tag "level1/germany.png", :class => "answer" , :alt => "germany"%>
            </div>
            <div class="span2">
                <%= image_tag "level1/england.png", :class => "answer", :alt => "england" %>
            </div>

            <div class="span2">
                  <%= image_tag "level1/japan.png", :class => "answer" , :alt => "japan"%>
            </div>

            <div class="span2">
                    <%= image_tag "level1/usa.png", :class => "answer" , :alt => "usa"%>
            </div>

            <div class="span2">
                      <%= image_tag "level1/france.png", :class => "answer" , :alt => "france"%>
            </div>


      </div>

</div>


  <div class="row-fluid">

  <div id="resultados">

</div>
</div>


</section>

